.container {
  .sub-navbar {
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    .sub-navbar-keywords {
      list-style: none;

      li {
        cursor: pointer;
        margin-right: 10px;
        text-align: center;
        display: inline-block;
        height: 50px;
        line-height: 45px;

        a {
          font-family: 'SFD-Heavy';
          display: inline-block;
          height: 26px;
          padding: 0 12px;
          font-size: 10px;
          line-height: 26px;
          color: #333;
          text-decoration: none;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          background: #f0f0f0;
          border-radius: 4px;
          text-transform: uppercase;
        }
      }
    }
  }

  .container-body {
    .container-left {
      .post-title {
        font-family: 'SFD-Bold';
        color: #333;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }


}
