.sidebar {
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
  width: 255px;
  height: calc(100vh - 44px);
  padding-top: 30px;
  padding-left: 35px;
  -webkit-transition: left .25s cubic-bezier(.4,0,.2,1);
  transition: left .25s cubic-bezier(.4,0,.2,1);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fafafa;
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  .top-sidebar {
    list-style: none;
    li {
      min-height: 24px;
      font-size: 14px;
      color: #333;
      list-style: none;
      cursor: pointer;
      padding: 5px 16px 5px 5px;
      -webkit-transition: color .1s ease-in,background-color .1s ease-in;
      transition: color .1s ease-in,background-color .1s ease-in;
      line-height: 1.25;
      display: -webkit-box;
      display: flex;
      border-radius: 3px;
      -webkit-box-align: center;
      align-items: center;
      .icon {
        width: 28px;
        height: 24px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin-right: 5px;
        margin-top: -1px;
        font-size: 14px;
        color: #555;
      }
      .title {
        display: inline-block;
        width: calc(100% - 60px);
        vertical-align: top;
        min-height: 24px;
        line-height: 24px;
        word-break: break-all;
        word-break: break-word;
        .counter {
          display: inline-block;
          color: #777;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &.active {
        background: #fff;
        .title {
          font-weight: 700;
        }
      }
    }

  }
}
